{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

    <form>
        <main class="container">
            <h1 class="text-xl-center title">Cursos</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Camada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in cursos %}
                        <tr>
                            <th scope="row">{{ n.id }}</th>
                            <td>{{ n.nombre }}</td>
                            <td>{{ n.camada }}</td>
                            <td><a href="{% url 'eliminar_curso_form' n.id %}" class="btn btn-danger">Eliminar</a></td>
                            <td><a href="{% url 'modificar_curso_form' n.id %}" class="btn btn-warning">Modificar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-primary" formaction="{% url 'alta_curso_form' %}">Alta Curso</button>
            <button class="btn btn-primary" formaction="{% url 'buscar_cursos_form' %}">Buscar Curso</button>
        </main>
    </form>

{% endblock %}
