<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'PrimerApp\css\styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <!-- {% if not request.user.is_authenticated %}
                <a class="btn btn-primary" style="background-color: darkblue;" href="{% url 'login_request' %}">Login</a>
                {% endif %}
                {% if request.user.is_authenticated %} -->
                <a class="btn btn-primary" style="background-color: darkblue;" href="{% url 'home' %}">Home</a>
                <div class="ml-auto">
                    <a class="btn btn-primary" style="background-color: darkblue;" href="{% url 'cursos' %}">Cursos</a>
                    <a class="btn btn-primary" style="background-color: darkblue;" href="{% url 'alumnos' %}">Alumnos</a>
                    <a class="btn btn-primary" style="background-color: darkblue;" href="{% url 'profesores' %}">Profesores</a>
                </div>
                <div></div>
                <a class="btn btn-warning"  href="{% url 'editarPerfil' %}">Editar Perfil</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" style="background-color: rgb(227, 0, 0);" type="submit">Logout</button>
                </form>
                <!-- {% endif %} -->
            </div>
        </nav>
         
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <h1 class="text-center" style="color: whitesmoke; font-family: 'Poppins', sans-serif; font-size: 3.5em; letter-spacing: 2px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">App de CoderHouse</h1>
            </div>
        </header>

       <div class="mensaje-register">{{ Mensaje }}</div>

        <!-- INICIO mi contenido-->
        {% block contenido %}

        {% endblock %}
  
        <!-- FIN mi contenido-->

        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
